APP_ENV=local
APP_PORT=8080
APP_BASEURL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=widia_kencana

REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=change-this-in-env

MINIO_ENDPOINT=localhost:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=widia-assets
MINIO_USE_SSL=false
